/*  Contenedor principal del perfil */
.profile-container {
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}

/*  Secciones del perfil */
.profile-section {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/*  Encabezado de cada secci贸n */
.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.profile-header h2 {
  font-size: 18px;
  margin: 0;
}

/*  Bot贸n de edici贸n */
.profile-edit-button {
  background: none;
  border: none;
  color: #004dd1;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}

.profile-edit-button:hover {
  text-decoration: underline;
}

/*  Informaci贸n del usuario */
.profile-info p {
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.profile-info strong {
  color: #333;
}

/*  Modal con estilo similar al formulario de Registro */
.profile-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

/*  Contenedor del Modal */
.profile-modal-content {
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

/*  Encabezado del Modal */
.profile-modal-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

/*  Etiquetas */
.profile-modal-content label {
  text-align: left;
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.2rem;
  display: block;
}

/*  Inputs */
.profile-modal-content input {
  width: 90%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: #ECECEC;
  margin-bottom: 1rem;
}

/*  Select para lada */
.profile-modal-content select {
  width: 30%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: #ECECEC;
  margin-bottom: 1rem;
  margin:  0px 10px 15px 6px;
}

/*  Botones */
.profile-modal-button {
  padding: 0.75rem;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-modal-button:hover {
  background-color: #a52828;
}

/*  Bot贸n de Cancelar */
.profile-modal-button-cancel {
  background-color: #757575;
}

.profile-modal-button-cancel:hover {
  background-color: #5a5a5a;
}

.phone-input-container{
  display: flex;
}